@model Roomy.Models.User
@{
    ViewBag.Title = "Create";
}

<h2>Ajouter un utilisateur</h2>

@using (Html.BeginForm("Create", "Users", System.Web.Mvc.FormMethod.Post))
{
    <div class="row form-group">
        @Html.LabelFor(x => x.LastName, new { @class = "col-3" })
        @Html.EditorFor(x => x.LastName, null, new { htmlAttributes = new { @class = "form-control col-4" } })
        @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
    </div>
    <div class="row form-group">
        @Html.LabelFor(x => x.FirstName, new { @class = "col-3" })
        @Html.EditorFor(x => x.FirstName, null, new { htmlAttributes = new { @class = "form-control col-4" } })
        @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
    </div>
    <div class="row form-group">
        @Html.LabelFor(x => x.Mail, new { @class = "col-3" })
        @Html.EditorFor(x => x.Mail, null, new { htmlAttributes = new { @class = "form-control col-4" } })
        @Html.ValidationMessageFor(x => x.Mail, "", new { @class = "text-danger" })
    </div>
    <div class="row form-group">
        @Html.LabelFor(x => x.Password, new { @class = "col-3" })
        @Html.EditorFor(x => x.Password, null, new { htmlAttributes = new { @class = "form-control col-4" } })
        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
    </div>
    <div class="row form-group">
        @Html.LabelFor(x => x.ConfirmedPassword, new { @class = "col-3" })
        @Html.EditorFor(x => x.ConfirmedPassword, null, new { htmlAttributes = new { @class = "form-control col-4" } })
        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
    </div>
    <div class="row form-group">
        @Html.LabelFor(x => x.BirthDate, new { @class = "col-3" })
        @Html.EditorFor(x => x.BirthDate, null, new { htmlAttributes = new { @class = "form-control col-4" } })
        @Html.ValidationMessageFor(x => x.BirthDate, "", new { @class = "text-danger" })
    </div>

    <div class=" row form-group justify-content-lg-center">
        <button type="submit" class="btn btn-outline-info">Enregistrer</button>

    </div>
}
@section SectionScripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
